.content-module-1 {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.content__heading--h2 {
    font-size: 2.25rem;
    font-weight: bold;
    width: 23.75rem;
    height: 13.375rem;
    margin: 1.813rem 5.344rem 8.375rem 9.094rem;
    letter-spacing: 0.018rem;
}

.content__heading--h3 {
    font-size: 1.5rem;
    margin: 0 0 7px;
    font-weight: 600;
}

.border--on-top {
    position: relative;
}

.border--on-top:after {
    padding: 0;
    margin: 0;
    display: block;
    content: "";
    width: 36%;
    height: 0.1rem;
    background-color: rgb(255, 7, 7);
    position: absolute;
    right: 15rem;
    top: 0.438rem;
}

.content__title--primary {
    text-align: left;
    color: #1f2c40;
    font-family: Poppins;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.009;
}

.content__right {
    display: flex;
    flex-wrap: wrap;
}

.content__right--column {
    margin: 2rem;
    flex: 18.75rem;
}

.content__paraphrase--primary {
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.009rem;
    text-align: left;
    color: var(--brownish-grey);
}


/* Module 2  */

.content-module-2 {
    width: 800px;
    height: 370px;
    padding: 110px 230px 70px 112px;
    border-radius: 57px;
    box-shadow: 0 3px 80px 0 rgba(182, 207, 208, 0.5);
    background-color: #fff;
    margin: 0 auto;
    position: relative;
}

.content__talk {
    width: 659px;
    height: 165px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.paraphrase-bold-gray {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -0.16px;
    color: gray
}

.content__talk-paraphrase {
    margin: 0;
}

.content__heading--nomargin {
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.29px;
    color: #1f2c40;
}

.content__btn-list {
    background-color: var(--white-color);
    overflow: hidden;
    border-radius: 2px;
    display: flex;
    width: 136px;
    height: 78px;
    background-color: #e03116;
    position: absolute;
    right: 0;
    left: 1050px;
    bottom: 80px;
}

.content__btn-icon {
    font-size: 1rem;
    color: rgb(252, 252, 252);
    flex: 1;
    display: flex;
    text-decoration: none;
}

.content__btn-icon:first-child {
    content: "";
    border-right: 1px solid rgb(224, 224, 224);
}

.content__btn-icon-rl {
    margin: auto;
    color: #fff;
    font-weight: 900;
    font-size: 1.4rem;
}