.content__module {
    display: flex;
    margin-top: 5rem;
}

.content__heading--left-h2 {
    font-size: 2.25rem;
    font-weight: bold;
    width: 26.75rem;
    height: 13.375rem;
    margin: 1.813rem 5.344rem 8.375rem 9.094rem;
    letter-spacing: 0.018rem;
}

.content__heading--left-h3 {
    font-size: 1.5rem;
    margin: 0 0 7px;
    font-weight: 600;
}

.border--on-top {
    position: relative;
}

.border--on-top:after {
    padding: 0;
    margin: 0;
    display: block;
    content: "";
    width: 50%;
    height: 0.2rem;
    background-color: rgb(255, 7, 7);
    position: absolute;
    right: 11.625rem;
    top: 0.438rem;
}

.content__heading--primary-title {
    text-align: left;
    color: #1f2c40;
    font-family: Poppins;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.009;
}

.content__heading--right {
    display: flex;
    flex-wrap: wrap;
}

.content__heading--right-column {
    margin: 2rem;
    flex: 18.75rem;
}

.content__heading--primary-paragraphs {
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.009rem;
    text-align: left;
    color: var(--brownish-grey);
}